/vendor
/node_modules
Homestead.yaml
.env

_ide_helper.php

.idea/.name

.idea/blade.xml

.idea/deployment.xml

.idea/laravel-plugin.xml

.idea/liteforo.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/webResources.xml

.idea/workspace.xml

.phpintel/317c6dd79246b19864fac433658b299c

.phpintel/9f7d91d864150c6ad5b4ca3984131859

.phpintel/index

readme.md

.phpstorm.meta.php
