html {
	-webkit-font-smoothing: antialiased;

}

body {
	background:#f2f2f2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:rgba(0,0,0,0.7);
	-webkit-font-smoothing: antialiased;

}

a {
	color: #303946;
}
a:hover {
	color: #303946;
	text-decoration: underline;
}

.wrapper {
	
	max-width: 1100px;
	margin:0 auto;


	max-width: 1400px;

}

/* not styled wrapper without border, note: USE .wrapper anyway class='wrapper wrapper-ns-without-border' */
.wrapper-ns-without-border {
	max-width: 1102px;
}

.wrapper-styled {
    border:1px solid rgb(220,220,220);
    background:#fff;



}

.clearfix {
	clear:both;
}

.header {
	height:70px;
	line-height:70px;
	font-size:30px;

	-webkit-font-smoothing: antialiased;
	font-weight:200;
	color:rgba(0,0,0,0.4);
}



.nav {
	width:auto;
	height:40px;
	
	line-height:40px;
	padding-left:15px;

	background: #455264;
}

.nav a {
	-webkit-font-smoothing: antialiased;
	text-decoration:none;
	padding-left:15px;
	font-size:13px;
	padding-top:6px;
	padding-bottom:6px;
	padding-right:15px;
	border-radius:2px;
	border:1px solid rgba(0,0,0,0.0);

}

/* nav a color */
.nav a {
	color: white;
}

.nav a:hover {
	background:rgba(0,0,0,0.1);
	border:1px solid rgba(0,0,0,0.05);
}

.dropdown-li {
	display:inline-block !important;
}
.dropdown-link {
	display:inline-block !important;
	padding-right:4px !important;
}
.dropdown-caret {
	display:inline-block !important;
	padding-left:4px !important;
}

.nav > li:hover {
	background-color: #f67a47; /*hover background color*/
}
.nav > li:hover > a {
	color: white; /*hover text color*/
}
.nav > li:hover > ul > a {
	color: black; /*dropdown item text color*/
}

.content {
	width: auto;

	display:-webkit-flex;
}

.main {
	-webkit-flex:1;
	padding:10px;
}

.side {
	width:200px;
    background:yellowgreen;
	
}

.side:empty {
	display:none;
}

/* side styling */
.side {
	padding:10px;
	font-size:13px;


}

.side-element-header {
	font-size:15px;
	padding-bottom:5px;
	color:rgba(0,0,0,0.7);
	
}
.side-element {
	background:rgba(0,0,0,0.05);
	border-radius:3px;
	padding:10px;
	padding-top:5px;
	padding-bottom:5px;
	color:rgba(0,0,0,0.4);
}

.links {
	width:100%;


	background: rgba(0,0,0,0.015);

	padding-left:10px;
	padding-right:10px;
	display:flex;
	display:-webkit-flex;

}

.links .left, .right {
	-webkit-flex: 1;
	flex:1;
}

.links .left {
	text-align: left;
	line-height: 30px;
}

.links .right {
	text-align: right;
	line-height: 30px;
}

.links-bottom {

}

.links nav a {
	font-size:12px;
	color:rgba(0,0,0,0.5);
}

.footer {
	background: rgb(55,55,55);
	font-size:12px;
	color:rgba(255,255,255,0.5);
	padding:10px;
	font-weight:200;
		-webkit-font-smoothing: antialiased;
		display:-webkit-flex;

}

.footer-wrapper {
	display:-webkit-flex;
	width: 100%;
}

.footer .left, .mid, .right {
		-webkit-flex:1;
	padding:10px;
		margin-left:2px;
	margin-right:2px;
}

.footer-nav a {
	color:rgba(255,255,255,0.8);
	font-size:11px;
}
.footer-nav a:hover {
		color:rgba(255,255,255,0.9);
		text-decoration:underline;

}

.footer a {
	color:rgba(255,255,255,0.8);
	font-size:11px;
}

/*
.footer .left, .mid, .right {

	background:rgba(0,0,0,0.1);
	border:1px solid rgba(0,0,0,0.1);

}
*/

.footer .left { text-align:left; }
.footer .mid { text-align:center; }
.footer .right { text-align:right; }

/** utils **/
.nice-link-color a {
	color: rgba(255,255,255,0.7);
	text-shadow:-1px -1px 1px rgba(0,0,0,0.2);
}
.nice-link-color a:hover {
		color: rgba(255,255,255,0.9);


}

/** media rules **/
@media screen and (max-width: 800px) {
	/* hide side */
	.side {
		display:none;
	}
}


form > label {
	width:400px;
	display:inline-block;
}

/* nice form */
.form {
	
	padding:10px;
}

.form-element {
	display:-webkit-flex;
	margin-top:5px;
	margin-bottom:5px;

}

.form-element input {
	padding: 5px;
	color: rgba(0, 0, 0, 0.7);
	-webkit-font-smoothing: antialiased;

}

.form-element label {
	-webkit-font-smoothing: antialiased;

}

.form-element .detail, .input {
	-webkit-flex:1;
}

.form-element .detail { text-align:right; padding-right:10px; }

.form-element .detail {
	text-align: right;
}

.form-element .input {
	text-align: left;

}

/** box **/
.box {
	background:#fcfcfc;
	padding:10px;
	border:1px solid #dadada;
	border-radius:1px;
}
.muted-text {
	color:rgba(0,0,0,0.5);
}

.normal-text {
	font-size:14px;
}

.small-text {
	font-size:12px;
}

.lg-text {
	font-size:16px;
}

.box-row {
	display:-webkit-flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.item {
	padding:10px;
}

.item-dynamic {
	-webkit-flex: 1;
}

.item-icon {
	min-width: 32px;

	color:#303946;
}

.box-data-header {
	background:#303946;
	padding:8px;
	border-radius:3px;
	color:rgba(255,255,255,0.7);
}

.item-auto {
	width:auto;
}

/* post */
.post {
	display: flex;
	display: -webkit-flex;
	min-height: 200px;
	margin-top:10px;


}
.post-author {
	width: 170px;
	margin-right:10px;
	background: rgba(0,0,0,0.03);
	border:1px solid rgba(0,0,0,0.05);
	text-align: center;
}

.profile-pic {

	max-width: 100%;
	max-height: 256px;

}
.profile-pic img {

}

.post-author > div {
	max-height: 400px;

	padding:10px;
}

.post-content {
	flex:1;
	-webkit-flex: 1;
}

/* rows */
.row {
	display: flex;
	display: -webkit-flex;
	width: auto;

	margin:1px;
}

.row-dynamic-column {
	flex:1;
	-webkit-flex: 1;
	padding:10px;

}

.row-fixed-column {
	padding:10px;
}

.topic-row {
	background: rgba(0,0,0,0.015);
	border:1px solid rgba(0,0,0,0.05);
	font-size:13px;
}

/*****/
.btn-black {
		   color: #DBDBDB;
		   background-color: #303030;
		   border-color: #000000;
	
	border:none;

	font-weight: 200;

}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
	color: #DBDBDB;
	background-color: #333333;
	border-color: #000000;


}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
	background-image: none;


}

.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
	background-color: #242424;
	border-color: #000000;
	

}
.btn-black .badge {
	color: #242424;
	background-color: #DBDBDB;
	-webkit-font-smoothing: antialiased;

}


.wrapper-margin {
	margin-left: 10px;
	margin-right: 10px;
}

._tools {
	margin-top:10px;
}

/* */
.btn-blue {
	background-color: hsl(197, 92%, 14%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#088ec3", endColorstr="#023144");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#088ec3), to(#023144));
	background-image: -moz-linear-gradient(top, #088ec3, #023144);
	background-image: -ms-linear-gradient(top, #088ec3, #023144);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #088ec3), color-stop(100%, #023144));
	background-image: -webkit-linear-gradient(top, #088ec3, #023144);
	background-image: -o-linear-gradient(top, #088ec3, #023144);
	background-image: linear-gradient(#088ec3, #023144);
	border-color: #023144 #023144 hsl(197, 92%, 7.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
	-webkit-font-smoothing: antialiased;
}

.btn-lightblue {
	background-color: hsl(197, 92%, 39%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22b9f5", endColorstr="#078bbe");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#22b9f5), to(#078bbe));
	background-image: -moz-linear-gradient(top, #22b9f5, #078bbe);
	background-image: -ms-linear-gradient(top, #22b9f5, #078bbe);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #22b9f5), color-stop(100%, #078bbe));
	background-image: -webkit-linear-gradient(top, #22b9f5, #078bbe);
	background-image: -o-linear-gradient(top, #22b9f5, #078bbe);
	background-image: linear-gradient(#22b9f5, #078bbe);
	border-color: #078bbe #078bbe hsl(197, 92%, 35%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
	-webkit-font-smoothing: antialiased;
}

.btn-lightgreen {
	background-color: hsl(96, 92%, 39%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#77f522", endColorstr="#51be07");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#77f522), to(#51be07));
	background-image: -moz-linear-gradient(top, #77f522, #51be07);
	background-image: -ms-linear-gradient(top, #77f522, #51be07);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #77f522), color-stop(100%, #51be07));
	background-image: -webkit-linear-gradient(top, #77f522, #51be07);
	background-image: -o-linear-gradient(top, #77f522, #51be07);
	background-image: linear-gradient(#77f522, #51be07);
	border-color: #51be07 #51be07 hsl(96, 92%, 35%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
	-webkit-font-smoothing: antialiased;
}

.btn-generic {
	background-color: hsl(202, 92%, 34%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a9ef4", endColorstr="#066ba6");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#0a9ef4), to(#066ba6));
	background-image: -moz-linear-gradient(top, #0a9ef4, #066ba6);
	background-image: -ms-linear-gradient(top, #0a9ef4, #066ba6);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a9ef4), color-stop(100%, #066ba6));
	background-image: -webkit-linear-gradient(top, #0a9ef4, #066ba6);
	background-image: -o-linear-gradient(top, #0a9ef4, #066ba6);
	background-image: linear-gradient(#0a9ef4, #066ba6);
	border-color: #066ba6 #066ba6 hsl(202, 92%, 30%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
	-webkit-font-smoothing: antialiased;
}


.btn-core {
	background-color: hsl(202, 12%, 34%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#70838e", endColorstr="#4c5961");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#70838e), to(#4c5961));
	background-image: -moz-linear-gradient(top, #70838e, #4c5961);
	background-image: -ms-linear-gradient(top, #70838e, #4c5961);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70838e), color-stop(100%, #4c5961));
	background-image: -webkit-linear-gradient(top, #70838e, #4c5961);
	background-image: -o-linear-gradient(top, #70838e, #4c5961);
	background-image: linear-gradient(#70838e, #4c5961);
	border-color: #4c5961 #4c5961 hsl(202, 12%, 30%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
	-webkit-font-smoothing: antialiased;
}

.btn-black-gradient {

	background-color: hsl(0, 0%, 0%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#606060", endColorstr="#000000");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#606060), to(#000000));
	background-image: -moz-linear-gradient(top, #606060, #000000);
	background-image: -ms-linear-gradient(top, #606060, #000000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #000000));
	background-image: -webkit-linear-gradient(top, #606060, #000000);
	background-image: -o-linear-gradient(top, #606060, #000000);
	background-image: linear-gradient(#606060, #000000);
	border-color: #000000 #000000 hsl(0, 0%, -9.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
	-webkit-font-smoothing: antialiased;

}

.navbar .nav > li {

	width: 120px;
}

.dropdown-menu {
	display:none;
	width:120px;
	min-width:120px;
	margin:0 auto;
}