html {
		-webkit-font-smoothing: antialiased;

}

body {
	background:#f2f2f2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:rgba(0,0,0,0.7);
}

a {
	color: #303946;
}
a:hover {
	color: #303946;
	text-decoration: underline;
}

.wrapper {
	
	max-width: 1100px;
	margin:0 auto;




}

/* not styled wrapper without border, note: USE .wrapper anyway class='wrapper wrapper-ns-without-border' */
.wrapper-ns-without-border {
	max-width: 1102px;
}

.wrapper-styled {
    border:1px solid rgb(220,220,220);
    background:#fff;



}

.clearfix {
	clear:both;
}

.header {
	height:70px;
	line-height:70px;
	font-size:30px;

	-webkit-font-smoothing: antialiased;
	font-weight:200;
	color:rgba(0,0,0,0.4);
}



.nav {
	width:auto;
	height:40px;
	
	line-height:40px;
	padding-left:15px;

	background: #455264;
}

.nav a {
	-webkit-font-smoothing: antialiased;
	text-decoration:none;
	padding-left:15px;
	font-size:13px;
	padding-top:6px;
	padding-bottom:6px;
	padding-right:15px;
	border-radius:2px;
	border:1px solid rgba(0,0,0,0.0);

}

/* nav a color */
.nav a {
	color: white;
}

.nav a:hover {
	background:rgba(0,0,0,0.1);
	border:1px solid rgba(0,0,0,0.05);
}

.dropdown-li {
	display:inline-block !important;
}
.dropdown-link {
	display:inline-block !important;
	padding-right:4px !important;
}
.dropdown-caret {
	display:inline-block !important;
	padding-left:4px !important;
}

.nav > li:hover {
	background-color: #f67a47; /*hover background color*/
}
.nav > li:hover > a {
	color: white; /*hover text color*/
}
.nav > li:hover > ul > a {
	color: black; /*dropdown item text color*/
}

.content {
	width: auto;

	display:-webkit-flex;
}

.main {
	-webkit-flex:1;
	padding:10px;
}

.side {
	width:200px;
    background:yellowgreen;
	
}

.side:empty {
	display:none;
}

/* side styling */
.side {
	padding:10px;
	font-size:13px;


}

.side-element-header {
	font-size:15px;
	padding-bottom:5px;
	color:rgba(0,0,0,0.7);
	
}
.side-element {
	background:rgba(0,0,0,0.05);
	border-radius:3px;
	padding:10px;
	padding-top:5px;
	padding-bottom:5px;
	color:rgba(0,0,0,0.4);
}

.links {
	width:100%;


	background: rgba(0,0,0,0.015);

	padding-left:10px;
	padding-right:10px;
	display:flex;
	display:-webkit-flex;

}

.links .left, .right {
	-webkit-flex: 1;
	flex:1;
}

.links .left {
	text-align: left;
	line-height: 30px;
}

.links .right {
	text-align: right;
	line-height: 30px;
}

.links-bottom {

}

.links nav a {
	font-size:12px;
	color:rgba(0,0,0,0.5);
}

.footer {
	background: rgb(55,55,55);
	font-size:12px;
	color:rgba(255,255,255,0.5);
	padding:10px;
	font-weight:200;
		-webkit-font-smoothing: antialiased;
		display:-webkit-flex;

}

.footer-wrapper {
	display:-webkit-flex;
	width: 100%;
}

.footer .left, .mid, .right {
		-webkit-flex:1;
	padding:10px;
		margin-left:2px;
	margin-right:2px;
}

.footer-nav a {
	color:rgba(255,255,255,0.8);
	font-size:11px;
}
.footer-nav a:hover {
		color:rgba(255,255,255,0.9);
		text-decoration:underline;

}

/*
.footer .left, .mid, .right {

	background:rgba(0,0,0,0.1);
	border:1px solid rgba(0,0,0,0.1);

}
*/

.footer .left { text-align:left; }
.footer .mid { text-align:center; }
.footer .right { text-align:right; }

/** utils **/
.nice-link-color a {
	color: rgba(255,255,255,0.7);
	text-shadow:-1px -1px 1px rgba(0,0,0,0.2);
}
.nice-link-color a:hover {
		color: rgba(255,255,255,0.9);


}

/** media rules **/
@media screen and (max-width: 800px) {
	/* hide side */
	.side {
		display:none;
	}
}

form > label {
	width:400px;
	display:inline-block;
}

/* nice form */
.form {
	
	padding:10px;
}

.form-element {
	display:-webkit-flex;
	margin-top:5px;
	margin-bottom:5px;
}

.form-element .detail, .input {
	-webkit-flex:1;
}

.form-element .detail { text-align:right; padding-right:10px; }

/** box **/
.box {
	background:#fcfcfc;
	padding:10px;
	border:1px solid #dadada;
	border-radius:1px;
}
.muted-text {
	color:rgba(0,0,0,0.5);
}

.normal-text {
	font-size:14px;
}

.small-text {
	font-size:12px;
}

.lg-text {
	font-size:16px;
}

.box-row {
	display:-webkit-flex;
}

.item {
	padding:10px;
}

.item-dynamic {
	-webkit-flex: 1;
}

.item-icon {
	min-width: 32px;

	color:#303946;
}

.box-data-header {
	background:#303946;
	padding:8px;
	border-radius:3px;
	color:rgba(255,255,255,0.7);
}

.item-auto {
	width:auto;
}

/* post */
.post {
	display: flex;
	display: -webkit-flex;
	min-height: 200px;
	margin-top:10px;


}
.post-author {
	width: 170px;
	margin-right:10px;
	background: rgba(0,0,0,0.03);
	border:1px solid rgba(0,0,0,0.05);
	text-align: center;
}

.profile-pic {

	max-width: 100%;
	max-height: 256px;

}
.profile-pic img {

}

.post-author > div {
	max-height: 400px;

	padding:10px;
}

.post-content {
	flex:1;
	-webkit-flex: 1;
}