/**
 * Post 
 */
 .table-post {
 	padding:10px;
 	border:1px solid green;
 }

 .row-post {
 	background:red;
     min-height:200px;
 }

 .post-author-col {
 	background: green;
 	width: 200px;
 }

 .message-col {
 	background: #fff;
 }