/**
 * CSS Responsive framework
 *
 * Author: Damian Balandowski
 * Project: LiteForo
 */

* {}
body {}

/**
 * Flex content
 */
.flex-container {
    display: flex;
    display: -webkit-flex;
}

.flex-container-center {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.flex-fixed-item {
    width: auto;
}



.flex-item,
.flex-item-1 {
    -webkit-flex: 1;
}

.flex-item-2 {
    -webkit-flex: 2;
}

.flex-item-3 {
    -webkit-flex: 3;
}

.flex-item-left {
    text-align:left;
}

.flex-item-center {
    text-align:center;
}

.flex-item-right {
    text-align:right;
}


/**
 *
 */
.space-inside {
    padding: 10px;
}

.sm-space-inside {
    padding: 5px;
}

.lg-space-inside {
    padding:15px;
}

.space-inside-sides {
    padding-left: 10px;
    padding-right: 10px;
}

.space-around {
    margin: 10px;
}

.sm-space-around {
    margin: 5px;
}

.lg-space-around {
    margin:15px;
}




.sm-text {
    font-size:12px;
}

.text {
    font-size:13px;
}

.lg-text {
    font-size:14px;
}

/**
 * Responsive box
 */
.fbox {
    width: 100%;
    border-radius:2px;
    border:1px solid rgba(0,0,0,0.2);
}

.fbox .box-header {
    background:rgba(0,0,0,0.8);
    padding:7px;
    color:rgba(255,255,255,0.5);
    font-size:13px;
}

.fbox .box-content {
    padding:5px;
    background:rgba(0,0,0,0.05);

}

.fbox .box-footer {

}

/**
 * Responsive form
 */
.form {

}

/** inline **/
.form-inline {

}

/** vertical **/
.form-vertical {

}

input[type=text], input[type=email], input[type=password] {
    width:100%;
    padding:5px;
    border-radius:3px;
    border:1px solid rgba(0,0,0,0.1);
}